.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.wrapper input {
  display: none;
}

.radio {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.wrapper input:checked + .radio {
  border: 5px solid #1677ff;
}